@import "./variables";

.adminPanel {
    padding: 50;
    width: 70%;
    margin: 0 auto;
    .content {
      margin: 50px auto 50px auto;
      padding: 50px;

        .Display {
            background-color: #454545;
            box-shadow: 5px 5px #07070798;
            margin: 25px auto 25px auto;
            min-height: 300px;
        }
    }    
}    