@import url("https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap%27");
@import "./variables";

nav{
    grid-area: header;
    padding: 1em;
    font-family: 'Reem Kufi', sans-serif;
    color: $fontHeaderColor;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: $headerBackgroundColor;
    position: sticky;
    z-index: 999;
    overflow: hidden;

    &:after {
        content:"";
        background: -webkit-linear-gradient(0deg, rgba(0,212,255,1) 0%, rgba(7,93,203,1) 100%);
        display: block;
        height:5px;
        left:0px;
        right: 0px;
        position: absolute;
        bottom: 0;
    }
}
