.addMediaForm, .formControl {
  margin: 0 auto;
  padding: 25px;
  width: 800px;
  background-color: rgb(70, 70, 70);
  .label {
    margin-top: 15px;
    margin-bottom: 5px;
    display: block;
    width: 100%;
    text-align: left;
  }

  input,
  textarea {
    display: block;
    width: 95%;
    border: none;
    border-radius: 5px;
  }

  button {
    padding: 15px;
    display: block;
    margin: 0 auto;
    margin-top: 15px;
    margin-bottom: 15px;
  }

  .MuiInput-root {
    *:not(span) {
      color: white !important;
    }
  }

  * {
    color: white !important;
  }

  .MuiInput-underline::before {
    border-color: white;
    &:hover {
      border-color: grey;
    }
  }

  .MuiInput-input {
    width: 100% !important;
  }


  .imageWrapper {
    margin: auto;
    width: 200px;
    height: 0px;
    transition: height 0.2s ease-in-out;
    &.isLoaded {
      height: 300px;
    }

    overflow: hidden;
    background-color: #111111;
    img {
      height: 100%;
      margin: 0 auto;
      text-align: center;
    }
  }
  a {
    display: block;
    padding: 10px;
    margin: 5px;
    background-color: #007ff6;
    transition: all ease-in-out .2s;
  
    &:hover {
        background-color: rgb(0, 98, 255);
    }
  }

  
}
