@import './variables';


.mediaListWrapper{
    width:100%;
    height: 85%;
    display: flex;
    margin-top: 5%;
    margin-left: 10%;
    grid-area: content;
}


.mediaList{
    background-color: $backgroundColor;
    width: 300px;
    height: 500px;
    margin: 50px;
    box-shadow: 2px 2px 3px 3px #000000;
}

.mediaListHeader{
    margin-top: 20px;
    color: #ffffff;
}
.list {
    margin: 0 auto;
}
.largeMediaList {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    width: 80%;
    margin: 0 auto;

    .mediaEntry {
        width: 450px !important;
    }
}