
@import "/variables";

.attributeList{
  position: absolute;
  width: 1635px;
  height: 46px;
  left: 124px;
  top: 225px;

  background: #313131;
  border: 1px solid #000000;
  box-sizing: border-box;
  box-shadow: 8px 6px 4px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}