
$backgroundColor: #313131;

$headerBackgroundColor: #272640;
$headerHeight: 5em;
$headerBottomColor:#4EF4FF;
$headerBottomWidth: 0,5em;
$fontHeaderColor: #e3e3e3;

$favBarWidth: 10em;
$favBarColor: #f0f3bd;

$threadHeaderSize: 40px;


$inputBorderColor: #00a8e8;
$buttonColor: #05668d;
$buttonHoverColor: #0085b9;
$buttonPressedColor: #054964;
