$backgroundColor: #313131;

$headerBackgroundColor: #272640;
$headerHeight: 100px;
$headerBottomColor:#4EF4FF;
$headerBottomWidth: 0,5em;
$fontHeaderColor: #e3e3e3;

$buttonColor: #00A8E8;
$buttonHoverColor: #0085b9;
$buttonPressedColor: #054964;

$favBarWidth: 10em;
$favBarColor: #f0f3bd;

$threadHeaderSize: 40px;