// @import url('https://fonts.googleapis.com/css2?family=Reem+Kufi&display=swap%27');
@import "./variables";
@import "./headerBar";
@import "./mediaSpotlightList";

.App {
    text-align: center;
    height: 100vw;
    display: grid;
    width: 100%;
    grid-template-columns: 1fr;
    background-color: $backgroundColor;
    grid-template-rows: $headerHeight auto;
    grid-template-areas: 
    "header"
    "content";
  }
  
  @media (min-width: 1024px) {
    .App {
      grid-template-columns: 5fr;
      grid-template-areas: 
      "header  header header"
      "sidebar content ."
    }
  }
  
  html,
  body {
    height: 100%;
    margin: 0;
    * {
      font-family: Arial, Helvetica, sans-serif;
    }
  }
  
  body {
    padding: 0;
    margin: 0;
    width: 100%;
    // height: 100%;
  }

  .MuiCircularProgress-colorPrimary {
    color: $headerBottomColor !important;
  }

  .link {
    text-decoration: none;
    color: white;
    transition: ease-in-out .2s;

    &:hover {
      color: $headerBottomColor !important;
    }

    &:visited, &:active {
      color: white;
    }

  }